---
import Layout from "../layouts/Layout.astro";
import PresentationPage from "../components/PresentationPage.astro";
//import Navbar from "../components/Navbar.astro";
import SobreNosotros from "../components/SobreNosotros.astro";
import Integrantes from "../components/Integrantes.astro";
//import Visores from "../components/Visores.astro";
import Footer from "../components/Footer.astro";
import Servicios from "../components/Servicios.astro";
---

<Layout title="Bienvenido a Latsa.">
  <div style="width: auto;" id="inicio">
    <!--Navbar /-->
    <div class="foco-fondo">
      <img class="foco-primario-1" src="/images/foco-primario-rectangulo.svg" />
      <img class="foco-secundario-1" src="/images/foco-secundario-elipce.svg" />

      <header class="d-flex justify-content-center align-items-center">
        <PresentationPage/>
      </header>

      <main>
        <img class="lineas-mapa" src="/images/Group 7.png" />
        <img
          class="lineas-mapa-degradado"
          src="/images/Rectangle-black-down.png"
        />
        <SobreNosotros />
        <Integrantes />
        <!--  -->
        <!--img class="foco-primario-2" src="/images/foco-primario-rectangulo.svg" /-->
        <!--img class="foco-secundario-2" src="/images/foco-secundario-elipce.svg" /-->
        <img
        class="lineas-mapa-degradado-2"
        src="/images/Rectangle-black-down.png"
      />
        <img
        class="lineas-mapa-degradado-3"
        src="/images/Rectangle-black-down.png"
      />
        <!--Visores /-->
        <Servicios />
        <Footer />
        <a href="#inicio" class="scroll-to-top">
          <img 
          src="/images/Group 14.svg"/>
        </a>
      </main>
    </div>
  </div>
</Layout>

<style>
  .scroll-to-top {
    position: fixed;
    bottom: 45px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
  }
</style>
