---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import InicioInvestigacion from '../components/investigacion/InicioInvestigacion.astro';
import Proyectos from '../components/investigacion/Proyectos.astro';
import Publicacion from '../components/investigacion/Publicacion.astro';
import Tesis from '../components/investigacion/Tesis.astro';
---

<Layout title="Investigación en Latsa">
	<div style="width: auto;">
		<Navbar/>
		<div class="foco-fondo">
			<main>
				<InicioInvestigacion id="inicio" />
				<Proyectos id="proyectos"/>
				<Publicacion id="publicacion"/>
				<Tesis id="tesis"/>	
				<Footer />
			</main>
		</div>
	</div>
</Layout>

