---
interface Props {
  year: string;
  body: string;
  href: string;
  color: string;
  forAutor: string;
}
const { href, body, color, year, forAutor } = Astro.props;
---

<div class="col-md-6 px-3 mb-3 text-white d-flex justify-content-center align-items-center">
  <article class={`${color} px-5 align-middle text-center my-auto`}>
    <h5>{year}</h5>
    {body}
    <p>{forAutor}</p>
  </article>
</div>

<style>
  .verde {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 20px;
    border: 1px solid;
    color: white;
    border-color: #a1c400;
    display: grid;
  }

  .azul {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 20px;
    border: 1px solid;
    color: white;
    border-color: #5680fb;
    display: grid;
  }

  @media only screen and (min-width: 1400px) {
  article{
    height: 250px;
  }
}

</style>
