<footer class="bg-dark text-center text-lg-start text-white">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-4 col-md-6 mb-md-0 ml-auto text-end pe-5">
                <h5 class="text-uppercase">Redes sociales</h5>
                <a
                    href="https://www.linkedin.com/company/laboratorio-de-transiciones-territoriales-de-la-zona-sur-y-austral"
                    style="text-decoration: none !important;"
                    class="me-3"
                >
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/latsa_chile/" style="text-decoration: none !important;"
                class="me-3"
                    >
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-md-0 text-center">
                <img src="/images/logoUACh.png" class="p-5"/>
            </div>
            <div class="col-lg-4 mb-4 mb-md-0 text-center">
                <img src="/images/logo_ICT.svg" class="p-5"/>
            </div>
            <div class="col-lg-4 mb-4 mb-md-0 text-center">
                <img src="/images/LogoInicio.svg" class="p-5"/>
            </div>
        </div>
    </div>
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
        Por Sebastián Durán, encargado Francisco Maturana
    </div>
</footer>
