<div class="container" id="iniciar">
  <div class="row justify-content-center text-white">
    <div class="col-lg-6 p-4">
      <h1 class="fw-bold">LAB DE TRANSICIONES TERRITORIALES</h1>
      <p>
        Laboratorio que emerge como unas de las áreas de investigación del
        Instituto de Ciencias de la Tierra.
      </p>

      <div class="row">
        <div class="col-md-6 d-grid g-3">
          <button type="button" class="btn btn-outline-light d-block" disabled>
            Ver visores
          </button>
        </div>
        <div class="col-md-6 d-grid g-3">
          <a href="./investigacion" class="btn btn-secundary text-white btn-block">
              Investigaciones
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 logo-inicio">
      <img src="images/LogoInicio.svg" class="p-5" />
    </div>
  </div>
</div>

