<div class="container my-5">
    <div class="row">
        <div class="col-md-12 descripcion-sobre-Nosotros">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-white my-5">SOBRE NOSOTROS</h2>
                </div>
                <div
                    class="col-md-6 d-flex align-items-center justify-content-center"
                >
                    <hr class="white-line me-4" />
                    <img
                        class="logo-title-sobre-nosotros"
                        src="/images/logo-white.svg"
                    />
                </div>
            </div>
            <p class="text-white">
                Sus principales objetivos son contribuir a la formación de
                estudiantes y generar y divulgar conocimiento en las áreas de
                Planificación y Ordenamiento Territorial en la zona sur y
                austral buscando aportar a la transición ecológica que
                experimentan los territorios.
            </p>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="container">
            <div class="section">
                <div class="row align-items-center">
                    <div class="col-md-9 descripcion-sobre-Nosotros-secundario">
                        <h2 class="text-white my-4">ESPECÍFICAMENTE</h2>
                        <p class="text-white">
                            Generar investigación y divulgar estas como insumo que apoye a
                            la planificación u ordenamiento territorial a diferentes escalas
                            (barrio, ciudad y región) en las regiones de la macrozona sur y
                            austral, es decir La Araucanía, Los Ríos, Los lagos, Aysén y
                            Magallanes.
                        </p>
                        <p class="text-white">
                            En el contexto de participación en tales acciones por parte de
                            estudiantes que están siendo formados tanto en pre como
                            postgrado.
                        </p>
                        <div>
                            <a href="./investigacion">
                            <button
                                type="button"
                                class="btn btn-secundary text-white btn-block"
                                
                            >
                                Investigaciones y Tesis
                            </button>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img src="/images/imagen_lab.png" 
                        class="img-fluid image" alt="Descripción de la imagen 1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .section {
        color: #fff; /* Ajusta este color al color de texto deseado */
        border-radius: 10px;
        padding: 20px;
    }
    .image {
        border-radius: 10px;
    }
</style>